@import "compass/css3";

.game-select{
    width: 100%;
    background: #3F3D52;
    text-align: center;
	padding-top: 10px;
    width: 450px;
    border-radius: 10px 10px;
    margin: 30px auto 0 auto;
	padding-bottom: 20px;
	h1,label {
		color: white;
	}
	
	select {
		width: 80%;
		margin: 0 auto;
	}
}
.player-card {
	width: 128px;
	text-align: center;
	display: inline-block;
	margin: 10px 0 10px 0;
	.avatar{
		width:92px;
		height: 92px;
		border:5px solid white;
		@include border-radius(50%,50%); 
	}
	.info{
		.name {
			font-size: 20px;
			color: white;
			width: 100%;
		}
		.message {
			color: #F8E71C;
		}
	}
}

.game-container {
	text-align: center;	
}

